<div class="password-change">
    <div class="confirm-body" *ngIf=" !confirmed || !confirmedSuccess">
        <div class="confirm-email" *ngIf="!confirmed && !confirmedSuccess">
            <h4> Confirmation Email:</h4>
            <div class="confirm-email-content">
                To confirm your reset password request please click on the link <br> (or click on "Confirm" the button):
                <div class="confirm-email-link">
                    <a href="{{emailText}}">Request Confirmation</a>
                </div>
            </div>
            <div class="settings-buttons">
                <button class="btn btn-success" style="width: auto" (click)="confirmRequest(emailText)">Confirm</button>
            </div>
        </div>
        <div class="confirm-declaration" *ngIf="confirmed && !confirmedSuccess">
            <h4>Request could not be is confirmed! Please request a new confirmation email!</h4>
        </div>
    </div>
    <div class="reset-password" *ngIf="confirmed && confirmedSuccess">
        <div *ngIf="resetConfirm">
            <div class="alert alert-danger" role="alert" *ngIf="!resetConfirm.success">{{resetConfirm.message}}</div>
            <div class="alert alert-success" role="alert" *ngIf="resetConfirm.success">{{resetConfirm.message}}</div>
        </div>
        <div class="confirm-email-content">
            Enter new Password to reset:
            <div class="input-group">
                <span class="input-group-addon form-icon">Password</span>
                <input type="password" class="form-control" [(ngModel)]="password">
            </div>
        </div>
        <!--<div class="input-group">-->
        <!--<span class="input-group-addon form-icon">Re-enter Password</span>-->
        <!--<input type="password" class="form-control" [(ngModel)]="rePassword">-->
        <!--</div>-->

        <div class="settings-buttons">
            <button class="btn btn-success" (click)="resetPassword(password)">Reset</button>
        </div>
    </div>
</div>